@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root
{
    --color: #222;
    --bgcolor: #fcfeff;
    --block-color: ghostwhite;
    --fine-color: floralwhite;
}

::selection
{
    color: var(--bgcolor);
    background-color: var(--color);
}

*
{
    font-family: "Jost";
}

body
{
    display: flex;
    justify-content: center;
}

main
{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--bgcolor);
}

.bd
{
    align-items: center;
}