<html>

<head>
    <title>ГИБДД - Вход в систему</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/block.css') }}">
</head>

<body class="bd">

<main>

    <div class="info-block not-found">
        <h1>404</h1>
        <p>
            <a class="but" href="{{ url_for('main') }}">Вернуться на страницу авторизации</a>
        </p>
    </div>
    
</main>

</body>

</html>