.reg
{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fcfeff;
    width: 100%
}

/* Sign-In blocks */

.sign-in input[name='fio'], .sign-in input[type='tel']
{
    width: 100%;
}

.sign-in input[type='submit']
{
    width: 100%;
    color: var(--bgcolor);
    background-color: var(--color);
    border-radius:4px;
    padding: 10px 15px;
    border:none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sign-in input[type='submit']:hover
{
    cursor: pointer;
}

.sign-in input[name='numer'], .sign-in input[name='birth_date']
{
    height: 30px;
    width: 48%;
}

.sign-in span
{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sign-in input
{
    padding: 5px;
}

.sign-in form
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sign-in
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--bgcolor);
    color: var(--color);
    border: 2px solid var(--color);
    width: 300px;
    padding: 20px;
}

#privacy-text
{
    font-size:9pt;
    color: #222;
    width: 300px;
}