<html>

<head>
    <title>ГИБДД - Вход в систему</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/block.css') }}">
</head>

<body class="bd">

<main>

    <div class="info-block">
        <h1>ГИБДД</h1>
        <p>
            <i>Проект, реализованный для предмета "Информационные системы и технологии"</i>
        </p>
    </div>
    <p></p>
    <div class="block">
        <h2>О проекте</h2>
        <p>
            Авторы: yokendo, Куликов Артём
        </p>
        <p>
            Используемые технологии: python (Flask, sqlite3), html&css
        </p>
    </div>

</main>

</body>

</html>